/*
 * require_tree .
 * requir_self
 */

.top-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: image-url("bg-image.jpg");
}

.top-message {
  background-color: rgba(255, 255, 255, .5);
}

.about-image {
  width: 100%;
  background-size: cover;
}