/*
 * require_tree .
 * requir_self
 */
@import "bootstrap-sprockets" ;
@import "bootstrap" ;

.top-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: image-url('bg-image.jpg');
  background-color: red;
}